.card {
  perspective: px-to-rem($perspective-property);
  text-align: left;
  text-transform: uppercase;
  
  &__side{
    background-color: orangered;
    color: $color-white;
    font-family: px-to-rem(20px);
    height: 50rem;
    transition: all 0.8s;
  }

  &:hover &__side{
    transform: rotateY(180deg);
  }
}
