.card {
  perspective: $perspective-distance;

  &__side {
    background-color: orangered;
    color:white;
    font-size: 2rem;
    height: 50rem;
    transition: all 0.8s;
    text-align: left;
  }

  &:hover &__side {
    transform: rotateY(180deg);
  }
}
