.composition {
  position: relative;
}

.composition__photo {
  /* width of images in percentage of the container for responsive design */
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}

.composition__photo--p1 {
  left: 0;
  top: -2rem;
}

.composition__photo--p2 {
  right: 0;
  top: 2rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}

.composition__photo:hover {
  outline: 1.5rem solid $color-primary;
  transform: scale(1.05) translateY(-0.5rem);
  /* to give the impression the image is closer to the user, the shadow is increased and darker */
  box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}
