// Global styles for the body
body {
  font-family: $default-font-family;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;
}

// Styles for primary headings
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;

  // Styles for main primary headings
  &--main {
    display: block;

    // Including font and animation properties
    @include font-properties(6rem, 400, 3.5rem);
    @include animation(moveInLeft, 1s, ease-out);
  }

  // Styles for sub primary headings
  &--sub {
    display: block;
    // Including font and animation properties
    @include font-properties(2rem, 700, 1.74rem);
    @include animation(moveInRight, 1s, ease-out);
  }
}

// Styles for secondary headings
.heading-secondary {
  // Including font properties
  @include font-properties(3.5rem, 700, 0);


  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  &:hover{
    transform: skewY(-1.2deg) skewX(2deg) scale(1.05);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}
