body {
  font-family: $default-font-family;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;

  &--main {
    display: block;
    @include font-properties(6rem, 400, 3.5rem);
    @include animation(moveInLeft, 1s, ease-out);
  }

  &--sub {
    display: block;
    @include font-properties(2rem, 700, 1.74rem);
    @include animation(moveInRight, 1s, ease-out);
  }
}

.heading-secondary {
  @include font-properties(3.5rem, 700, 0);
  text-transform: uppercase;
}